body {
  background: #fff url("http://i775.photobucket.com/albums/yy39/angelia-01/vfiles6194.jpg") no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-family: Titillium+Web, serif;
  overflow-x: hidden;
}

nav {
   text-align: right;
   float: right;
   right: 0;
   display: inline-block;
   width: 100%;
   margin: .5em .5em .5em 0;
}

#who-we-are {
   margin: 20% 0 5% 0;
   text-align: center;
}

#specialization , #services-offered, #responsive-web-design {
  float: left;
  padding: 0;
  border: 0;
  margin-left: 300px;
}

nav li {
  display: inline;
}

ul a {
  color: #fff;
  padding: 0 .5em;
  text-decoration: none;
}

li {
  padding: .5em 0;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto
}

a:hover {
  color: rgb(0,143,19);
}

p {
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  color: #ffffff;
  padding-top: 10px;
}

h1, h2, h3 {
   color: #fff;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
  color: #ffffff;
}

h3 {
  font-size: 30px;
  color: #ffffff;
}

@media screen only and (min-width: 320px) {
  #logo {
    width: 310px;
  }

/*  #who-we-are {
    margin: ;
  }

  #specialization , #services-offered, #responsive-web-design {
    float: none;
  }
*/
}