body {
/*  background: #fff url("http://i775.photobucket.com/albums/yy39/angelia-01/vfiles6194.jpg") no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  

  overflow-x: hidden;
  background-color: #000000;*/


/*    height: 200px;*/
/*  font-family: "Great Vibes", sans-serif;*/
  font-family: "Niconne";
  font-family: "Roboto";  
/*  background: -webkit-linear-gradient(top, rgba(39,46,101,0), rgba(39,46,101,1));*/ /* For Safari 5.1 to 6.0 */
/*  background: -o-linear-gradient(bottom, rgba(36,46,101,0), rgba(39,49,101,1));*/ /* For Opera 11.1 to 12.0 */
/*  background: -moz-linear-gradient(bottom, rgba(36,46,101,0), rgba(36,46,101,1));*/ /* For Firefox 3.6 to 15 */
/*  background: linear-gradient(to bottom, rgba(36,46,101,0), rgba(36,46,101,1)); *//* Standard syntax (must be last) */
 background-color: rgb(225,225,225);
}

nav {
   width: 100%;
   margin: .5em .5em .5em 0;
}

#who-we-are {
   margin: 2% 0;
   text-align: center;
   clear: both;
}

.descriptions {
  float: left;
  width: 33%;
  margin-bottom: 5%;
  padding-top: 2%;
}

nav li {
  display: inline-block;
}

li a {
  display: inline-block;
  color: #fff;
  padding: .5em;
  text-decoration: none;
}

ul {
  float: right;
}

li {
  padding: .5em 0;
  text-align: center;
  font-size: 24px;
}

#logo {/*
  /*text-align: center;
  width: 200px;
  margin: 0 auto;*/
  margin: 0 0 0 32.5%;
  float: left;
  display: inline-block;/*
  border: solid red 1px;*/
}

/*#logo img {
  width: 100%;
  border: solid red 1px;
}*/

#portfolio-h1 {
  display: inline-block;
  padding: 3% 0 0 10%;/*
  border: solid red 1px;*/
}

#header {
  display: inline-block;
  width: 100%;/*
  border: solid red 1px;*/
  margin-bottom: 4%;
}

a:hover {
  color: rgb(0,143,19);
}

p {
  margin-left: auto;
  margin-right: auto;
  font-size: 28px;
  color: #0092DE;
  padding-top: 10px;
}

h1 {
  font-size: 80px;/*
  text-align: center;
*/  color: #0092DE;  
  font-style: italic;
  font-family: "Niconne";
/*  margin: 2% 0;*/
}

h2 {
  font-size: 36px;
  color: #fff;
  text-align: center;
}

h3 {
  font-size: 36px;
  color: #fff;
  text-align: center;
}

#wrapper {
  margin-left: 12%;
}

.thumbnail img {
  float: left;
  width: 25%;
  padding: 0 2% 4% 2%;
  display: block;
} 

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media screen and (max-width: 1600px) {

  #wrapper {
    margin-left: 4%;
  }

.thumbnail img {
  float: left;
 /* display: inline-block;*/
  width: 25%;
  padding: 0 4% 4% 4%;
} 

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

@media screen and (max-width: 1024px) {

  #who-we-are {
    margin-top: 7%;
    margin-bottom: 5%;
  }

   h1 {/*
    float: left;
    display: block;
    color: #0092DE;/*
    margin: 4% 0 4% 34%;*/
    font-size: 50px;
    text-align: center;
  }

  h2 {
    font-size: 25px;
    color: #fff;
    text-align: center;
/*    font-style: italic;
*/  }

  h3 {
    font-size: 25px;
    color: #fff;
    text-align: center;
  }

  p {
    font-size: 26px;
    color: #0092DE;
    line-height: 1.3em;
  }

  .thumbnail img {
    float: left;
    width: 40%;
    padding: 0 4% 4% 4%;
  } 

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

@media screen and (max-width: 360px) {

  #who-we-are {
    margin-top: 7%;
    margin-bottom: 5%;
  }

  #logo img {
    width: 125px;
    height: 125px;
  }

  ul a {
    text-align: center;
    color: #fff;
    padding: .5em;
    text-decoration: none;
    float: none;
  }

  nav {
    text-align: center;
  }

  ul {
    float: none;
  }

  h1 {
  /*  float: left;
  */  /*display: inline-block;*/
    font-size: 22px;
    text-align: center;
    color: #0092DE;  
    font-style: italic;
    font-family: "Niconne";
    margin: 2% 0;
}

  h2 {
    font-size: 25px;
    color: #fff;
    text-align: center;
/*    font-style: italic;
*/  }

  h3 {
    font-size: 25px;
    color: #fff;
    text-align: center;
  }

  p {
    font-size: 26px;
    color: #0092DE;
    line-height: 1.3em;
  }

  li {
    font-size: 18px;
    line-height: .5em;
  }

  #portfolio-h1 {
/*    margin: 4% 42.5% 4% 42.5%;
*/  
    font-size: 40px;
}

  #wrapper {
    margin: 0 auto;
  }

.thumbnail img {
  float: left;
 /* display: inline-block;*/
  width: 80%;
  padding: 0 10% 6% 10%;
}

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

@media screen and (max-width: 320px) {

  #who-we-are {
    margin-top: 18%;
    margin-bottom: 9%;
  }

  #logo img {
    width: 100px;
    height: 100px;
  }
 
  nav {
    float: none;
    text-align: center;
  }

  h1 {
    font-size: 30px;
    color: #0092DE;
    margin: 0 auto;
    text-align: center;
    margin: 2% 0;
  }

  h2 {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
  }

  h3 {
    font-size: 16px;
    font-weight: 600;
  }

  p {
    font-size: 14px;
    color: #0092DE;
    line-height: 1.3em;
  }

  li {
    font-size: 14px;
    line-height: .5em;
  }

  .descriptions {
    float: none;
    text-align: center;
    width: 100%;
  }

  /*#portfolio-h1 {
    margin: 4% 0 4% 34%;
  }*/

  #wrapper {
    margin: 0 auto;
  }

   .thumbnail img {
    float: left;
    display: inline-block;
    width: 90%;
    padding: 0 5% 5% 5%;
  }

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}