body {
	font-family: Lato, sans-serif;
	line-height: 1.5;
	font-size: 18px;
}

/*h1, h2, h3, h4, h5 {
	font-weight: normal;
	padding: 0;
	margin: 0;
}*/

#wrapper {
	width: 1360px;
	margin: 0 auto;
}

h1 {
}

h2 {
	padding: 65px 0 5px 0; 
	font-weight: 600;
	width: 650px;
	text-align: center;
}

h3 {
	font-size: 16px;
	font-weight: 600;
	padding-bottom: 10px;
}

h4 {
	font-size: 16px;
	font-weight: 600;
}

h5 {
	padding: 10px 0 15px 500px;
	font-size: 16px;
	font-weight: 600;
}

p { 
	font-size: 16px;
	width: 650px;
}

header {
/*   border: 1px solid black;
*/   text-align: center;
   padding-top: 20px;
}

header div:nth-child(1) {
   display: inline-block;
   width: 25%;   
   vertical-align: top;
}

header div:nth-child(2) {
   display: inline-block;
   width: 49%;
   vertical-align: top;
}

header div:nth-child(3) {
   display: inline-block;
   width: 25%;
}

nav ul {
   list-style: none;
}

nav ul li {
   display: inline-block;
}

nav a {
	background-color: #BF73FF;
	color: #FFF;
	text-decoration: none;
	display: block;
	font-size: 18px;
	width: 133px;
	text-align: center;
	padding: 5px 0;
	float: left;
}

nav a:hover {
	background-color: #F291FF;
}

footer {
	clear: both;
	color: #bbbbbb;
}

a {
	color: #dd0000;
	text-decoration: none;
}

#form {
	vertical-align: top;
	height: 150px;
}

#events {
	float: left;
	display: inline-block;
	margin: 0 0 0 115px;
}

#events h3 {

}

#events img {	
	padding: 0 10px 0 10px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}