body.index {
/*  background: #fff url("http://i775.photobucket.com/albums/yy39/angelia-01/vfiles6194.jpg") no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  

  overflow-x: hidden;
  background-color: #000000;*/


/*    height: 200px;*/
/*  font-family: "Great Vibes", sans-serif;*/
  font-family: "Niconne";
  font-family: "Roboto";  
/*  background: -webkit-linear-gradient(top, rgba(39,46,101,0), rgba(39,46,101,1));*/ /* For Safari 5.1 to 6.0 */
/*  background: -o-linear-gradient(bottom, rgba(36,46,101,0), rgba(39,49,101,1));*/ /* For Opera 11.1 to 12.0 */
/*  background: -moz-linear-gradient(bottom, rgba(36,46,101,0), rgba(36,46,101,1));*/ /* For Firefox 3.6 to 15 */
/*  background: linear-gradient(to bottom, rgba(36,46,101,0), rgba(36,46,101,1)); *//* Standard syntax (must be last) */
 background-color: rgb(225,225,225);
}

body.portfolio {
/*  background: #fff url("http://i775.photobucket.com/albums/yy39/angelia-01/vfiles6194.jpg") no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  

  overflow-x: hidden;
  background-color: #000000;*/


/*    height: 200px;*/
/*  font-family: "Great Vibes", sans-serif;*/
  font-family: "Niconne";
  font-family: "Roboto";  
/*  background: -webkit-linear-gradient(top, rgba(39,46,101,0), rgba(39,46,101,1));*/ /* For Safari 5.1 to 6.0 */
/*  background: -o-linear-gradient(bottom, rgba(36,46,101,0), rgba(39,49,101,1));*/ /* For Opera 11.1 to 12.0 */
/*  background: -moz-linear-gradient(bottom, rgba(36,46,101,0), rgba(36,46,101,1));*/ /* For Firefox 3.6 to 15 */
/*  background: linear-gradient(to bottom, rgba(36,46,101,0), rgba(36,46,101,1)); *//* Standard syntax (must be last) */
 background-color: rgb(225,225,225);
}

#header {
  margin-bottom: 5%;
}

nav {
  display: inline-block;
   width: 10%;
   margin: 4% .5em .5em 6%;
}

#who-we-are {
   text-align: center;
   clear: both;
   margin-bottom: 5%;
}

.descriptions {
  float: left;
  width: 15%;
  padding: 2% 10%;
  margin-left: 2%;
  display: inline-block;
}

/*.description img {
  width: 25%;
}*/

.descriptions ul {
  float: left;
}

.descriptions li {
  text-align: left;
  color: rgb(160,160,160);
}

/*#descriptionsRow {
  margin: 0 0 20% 11%;
}
*/
nav li {
  display: inline-block;
}

li a {
  display: inline-block;
  color: #fff;
  padding: .5em;
  text-decoration: none;
}

ul {
  float: right;
  margin-right: 13%;
}

li {
  padding: .3em 0;
  text-align: center;
  font-size: 24px;
}

#logo {
  margin: 2% 0 0 16%;
  float: left;
  display: inline-block;
}

#logo img {
  width: 175px;
}

#portfolio-h1 {
  float: left;
  display: inline-block;
  width: 40%;
  margin-top: 5%;
  padding-left: 5%;
}

#index-h1 {
  float: left;
  display: inline-block;
  width: 40%;
  margin-top: 5%;
  padding-left: 4%;
}

a:hover {
  color: rgb(0,143,19);
}

p {
  margin-left: auto;
  margin-right: auto;
  font-size: 28px;
  color: #0092DE;
  padding: 0 0 2% 0;
  line-height: 1.25em;
}

h1 {
  font-size: 80px;
  text-align: center;
  width: 100%;  
  color: #0092DE;  
  font-style: italic;
  font-family: "Niconne";
}

h2 {
  font-size: 36px;
  color: #fff;
  text-align: center;
}

h3 {
  font-size: 36px;
  color: rgb(90,90,90);
  padding-bottom: .3em;
}

#wrapper {
  margin-left: 12%;
}

.thumbnail img {
  float: left;
  width: 25%;
  padding: 0 2% 4% 2%;
  display: block;
} 

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media screen and (max-width: 1600px) {

#logo {
  text-align: center;
/*  width: 175px;*/
  margin: 0 0 0 15%;
}

#logo img {
  margin-top: 25%;
}

#portfolio-h1 {
  display: inline-block;
  padding: 1% 0 0 7%;
  width: 35%;
}

nav {
  margin: 4% .5em .5em 9%;
}

ul {
  margin-right: 0%;
}

#wrapper {
  margin-left: 12 %;
}

.thumbnail img {
  float: left;
 /* display: inline-block;*/
  width: 25%;
  padding: 0 2% 4% 2%;
} 

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

@media screen and (max-width: 1460px) {

  #logo img {
    margin-top: 15%;
  }

  #portfolio-h1 {
    display: inline-block;
    padding: 5% 0 0 5%;
    font-size: 65px;
    margin-top: 1%;
  }

  li {
    padding: .5em 0;
    text-align: center;
    font-size: 20px;
  }
  #header {
    margin-bottom: 3%;
  }

  nav {
    margin: 4% .5em 3% 10%;
  }
}

@media screen and (max-width: 1400px) {

  #portfolio-h1 {
    padding: 4% 0 0 5%;
  }

  li {
    padding: .2em 0;
  }

  nav {
    margin: 4% .5em 3% 10%;
  }
}

@media screen and (max-width: 1350px) {
    #logo img {
    width: 70%;
  }

  #portfolio-h1 {
    padding: 5% 0 0 1%;
    font-size: 50px;
  }

  #header {
    margin-bottom: 1.5%;
  }

  nav {
    margin: 4% .5em 3% 7%;
  }
}

@media screen and (max-width: 1235px) {
  #logo img {
    width: 65%;
  }

  #portfolio-h1 {
    padding: 6% 0 0 1%;
    font-size: 50px;
    margin-top: 0;
  }

  #header {
    margin-bottom: 1.5%;
  }

  nav {
    margin: 4% .5em 3% 7%;
  }
}


@media screen and (max-width: 1200px) {

  #portfolio-h1 {
    padding: 6% 0 0 0;
    font-size: 50px;
  }

  li {
    line-height: .75em;
    text-align: center;
    font-size: 20px;
  }

  nav {
  margin: 5% .5em 5% 6%;
  width: 14%;
  }
}


@media screen and (max-width: 1024px) {

  #who-we-are {
    margin-top: 7%;
    margin-bottom: 5%;
  }

   h1 {/*
    float: left;
    display: block;
    color: #0092DE;/*
    margin: 4% 0 4% 34%;*/
    font-size: 50px;
    text-align: center;
  }

  h2 {
    font-size: 25px;
    color: #fff;
    text-align: center;
/*    font-style: italic;
*/  }

  h3 {
    font-size: 25px;
    color: #fff;
    text-align: center;
  }

  p {
    font-size: 26px;
    color: #0092DE;
    line-height: 1.3em;
  }

  #header {
    margin-bottom: 4%
  }

  #logo {
    margin: 0 0 0 10%;
  }

  #portfolio-h1 {
    padding: 7% 0 0 1%;
  }

  nav {
    margin: 5% .5em .5em 9%;
  }

  #wrapper {
    margin-left: 5%;
  }

  .thumbnail img {
    float: left;
    width: 40%;
    padding: 0 3% 4% 3%;
  } 

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

@media screen and (max-width: 1005px) {

  #portfolio-h1 {
    padding: 8% 0 0 0;
    width: 36%;
  }

  nav {
    width: 15%;
    margin: 6% .5em .4% 10%;
  }
}

@media screen and (max-width: 864px) {
  nav {
    width: 17%;
    margin: 6% .5em 4% 10%;
  }
}

@media screen and (max-width: 360px) {

  #who-we-are {
    margin-top: 7%;
    margin-bottom: 5%;
  }

/*  #header {
    margin-bottom: 2.5%;
  }*/

  #logo {
    margin: 0 0 0 0;
    width: 100%
  }

  #logo img {
    width: 50px;
    height: 50px;
    margin-top: 5%;
  }

  ul a {
    text-align: center;
    color: #fff;
    padding: .5em;
    text-decoration: none;
    float: none;
  }

  nav {
    width: 100%;
    text-align: center;
    margin: 0 .5em 0 0;
  }

  ul {
    float: none;
    margin-right: 0%;
  }

  h1 {
  /*  float: left;
  */  /*display: inline-block;*/
    font-size: 18px;
    text-align: center;
    color: #0092DE;  
    font-style: italic;
    font-family: "Niconne";
    margin: 2% 0;
}

  h2 {
    font-size: 25px;
    color: #fff;
    text-align: center;
/*    font-style: italic;
*/  }

  h3 {
    font-size: 25px;
    color: #fff;
    text-align: center;
  }

  p {
    font-size: 26px;
    color: #0092DE;
    line-height: 1.3em;
  }

  li {
    font-size: 18px;
    line-height: .5em;
    padding: 0 7%;
  }

  #portfolio-h1 {
    width: 100%;
    padding: 5% 0 0 0;
    font-size: 38px;
}

/*  #wrapper {
    margin-left: 2%;
  }*/

.thumbnail img {
  float: left;
 /* display: inline-block;*/
  width: 80%;
  padding: 0 10% 6% 7%;
}

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

@media screen and (max-width: 320px) {

  #who-we-are {
    margin-top: 18%;
    margin-bottom: 9%;
  }

  #logo {/*
    margin: 0 0 0 9%;*/
    width: 100%;
  }

  #logo img {
    width: 50px;
    height: 50px;
  }
 
  nav {
    float: none;
    text-align: center;
    margin: 3% .5em .5em 0;
  }

  #portfolio-h1 {
    padding: 7% 0 0 0;
    font-size: 34px;
  }

  h1 {
    font-size: 30px;
    color: #0092DE;
    margin: 0 auto;
    text-align: center;
    margin: 2% 0;
  }

  h2 {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
  }

  h3 {
    font-size: 16px;
    font-weight: 600;
  }

  p {
    font-size: 14px;
    color: #0092DE;
    line-height: 1.3em;
  }

  li {
    font-size: 14px;
    line-height: .5em;
    padding: 0 7%;
  }

  .descriptions {
    float: none;
    text-align: center;
    width: 100%;
  }

  /*#portfolio-h1 {
    margin: 4% 0 4% 34%;
  }*/

  #wrapper {
    margin: 0 auto;
  }

   .thumbnail img {
    float: left;
    display: inline-block;
    width: 90%;
    padding: 0 5% 5% 5%;
  }

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}